<div class="backdrop">
<div class="modal" cdkDragBoundary=".backdrop" cdkDrag>
    <div class="header d-flex justify-content-between">
        <div class="title" cdkDragHandle>Recommended Approach</div>
        <div class="d-flex flex-row align-items-center close-btn" (click)="closePopup()">
            <div class="tooltiptext">Close</div>                          
            <div><i class="fas fa-2x fa-times-circle"></i></div>
        </div>          
    </div>
    <div class="content-holder">
        <div>
            
            
            <div>
                <div>Text....</div>
            </div>

        </div>
    </div>
</div>
</div>